/*Font*/
/*Variables*/
/*Global*/
body {
  background: #ecf0f1;
}

/*Header*/
header {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.page-title span {
  color: #0097e6;
}

/*Article*/
.content {
  font-family: "Abril Fatface", cursiv;
  margin: 0 30% 0;
  padding: 50px;
  font-size: 18px;
  justify-content: center;
  text-align: center;
}

.content span {
  color: #0097e6;
}

.source {
  font-size: 12px;
  text-align: right;
  margin-right: 10%;
}
